<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>Bookmarks:</div>
    <div><%= @bookmark_list.show_bookmarks %></div>
  </body>
</html>
