<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>Bookmarks:</div>
    <div>
      <ul>
        <% @bookmarks.each do |bookmark| %>
        <li><%= "#{bookmark[0]}: #{bookmark[1]}" %></li>
        <% end %>
      </ul>
    </div>
    <div>
      <br>
      <br>
      <strong><a href="/bookmarks/new">Add bookmark</a></strong>
    </div>
  </body>
</html>
